.admin-actions{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.admin-action-selection{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}


.action-selector{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem; */
    font-weight: 500;
}

.action-selector input{
    cursor: pointer;
    /* padding: 0rem; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-selector label{
    /* padding: 0rem; */
    width: 80%;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.admin-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

.admin-header h2{
    color: '';
}

.admin-form-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0rem;
    width: 100%;
}

.admin-form-sub{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:30%;
    border: 0.2rem solid black;
    font-size: 1.5rem;
    font-weight: 500;
}

.admin-form-sub label{
    padding: 1rem;
}
.admin-dept-selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.admin-user-type-selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.admin-username-selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.admin-password-selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.admin-create-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.admin-create-button button{
    width:100%;
}