.create-asset-type-main{
  height: 100%;
  width: 100%;
  background-color: #263043;
}
.create-sub{
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center;rugfnheirg */
}
.create-sub-main-container{
  width: 100%;
  height: 100vh;
  padding-left: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 0.5rem solid #ffff;
}
.ceate-sub-container{
  width: 100%;
  height: 100%;
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
}
.asset-type{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
}
.asset-type input{
  height: 4rem;
  width: 25rem;
  text-align: center;
}
.asset-type button{
  height: 4rem;
  width: 16rem;
}
.specs-input{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 2rem ;
  height: 5rem;
  
}

.specs-input-sub{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;

}

.specs-input-sub input{
  height: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.asset-specs-main{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
