@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
html{
    font-size:50%;
    box-sizing:border-box;
    font-family: 'Arimo', sans-serif !important;
    background-color: #0D051B;
}

body{
    padding: 0;
    margin:0;
}
.header-list ul{
    margin:0;
  }
h1{
    margin: 0;
    padding:0;
    font-size: 4rem;
}

h2{
    margin: 0;
    padding:0;
    font-size: 3rem;
}

h3{
    margin: 0;
    padding:0;
    font-size: 2.5rem;
}

h4{
    margin: 0;
    padding:0;
    font-size: 1.8rem;
}

h5{
    margin: 0;
    padding:0;
    font-size: 0.8rem;
}

h6{
    margin: 0;
    padding:0;
    font-size: 1.5rem;
}

p{
    margin:0;
    padding:0;
    font-size:2rem;
    letter-spacing: 0.09rem;
}

