#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #263043;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: fixed;
    border-right:  0.2rem solid #ffff; 
  }
  
  /* Sidebar Title */
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 30px 0px 30px; */
    /* margin-bottom: 30px; */
  
  }
  
  
  .sidebar-title > span {
    display: none;
  }
  
  /* Sidebar List */
  .sidebar-list {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #eeeef7;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
  }
  