header {
    background-color: #007BFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header img {
    height: 70px;
    /* Adjust the max-height as needed */
}

header h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

.home-button {
    background-color: #fff;
    color: #007BFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}